@import "../../styles/screensize";
@import "../../styles/variables";

.home {
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin: 0px auto;
  box-sizing: content-box;
  position: relative;
  padding-top: 30px;
  height: calc(100vh - 30px);
  // overflow: hidden;
  // align-items: center;
}

// .base_home {
//   height: 50vh;
//   background-color: $primaryColor;
// }
