@import "../../styles/screensize";
@import "../../styles/variables";

.home {
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  // padding: 32px 48px 0;
  margin: 0px auto;
  // max-width: 1040px;
  box-sizing: content-box;
  position: relative;
  margin-top: 30px;
  // overflow: hidden;
  // align-items: center;

  .frame {
    // margin-top: 40px;
    height: 100%;
    width: 100%;
    border: none;
  }
}
