@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");
@import "reset";
// @import "variables";
@import "mixins";
@import "screensize";
@import "layouts";
@import "table";
@import "buttons";
@import "markdown";
@import "form";
@import "table";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

.lightTheme {
  --backgroundColor1: #d8ebf0;
  --backgroundColor2: #d9dfe0;
  --secondaryColor: #373c3f;
  --primaryLight: #64707c;
  --primaryColor: #035c0f;
  --fontColor: #292d32;
  --bigFontColor: #404346;
}

.darkTheme {
  --backgroundColor1: #373c3f;
  --backgroundColor2: #18242b;
  --secondaryColor: #373c3f;
  --primaryLight: #64707c;
  --primaryColor: #252d34;
  --fontColor: #ffffff;
  --bigFontColor: #404346;
}

body {
  font-family: var(--fontFamily);
  height: 100vh;
  margin: 0;
  font-synthesis: none;
  // background-color: var(--backgroundColor1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
