@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  // background-color: $primaryColor;
  overflow: hidden;
  scroll-behavior: auto;
  height: 100vh;
  // height: calc(100vh - 0px);
  .products {
    border-right: 1px solid $secondaryColor;
    // background-color: #455322;
    width: 30%;
    height: 100%;
    max-width: 250px;
    overflow: scroll;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display: none;
    }

    .topbar {
      height: 50px;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      line-height: 50px;
      align-items: center;
      svg {
        color: #fff;
        font-size: 2.5rem;
      }
    }
    .list {
      padding-top: 50px;
    }
    li {
      background-color: #fff;
      border-bottom: $secondaryColor 1px solid;
      padding: 10px 20px;
      &:hover {
        background-color: $secondaryColor;
        color: #fff;
      }
      .contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nameImage {
          padding-right: 10px;
          display: flex;
          align-items: center;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 10px;
        }
        p {
          font-size: small;
          text-transform: lowercase;
          padding-left: 10px;
        }
        .time {
          align-items: flex-end;
          font-size: x-small;
        }
      }
    }
  }
}
